:root {
    --amarillo: #ffc401;
    --negro: #0c0c0c;
    --negro-claro: #19191b;
    --gris-oscuro: #1f1f1f;
    --gris-medio: #252527;
    --gris: #363639;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--gris);
    font-size: 1.6rem;
}

figure {
    margin: 0;
}

.df-al-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;

}

header {
    background-color: var(--negro);
    color: #fff;
    text-transform: uppercase;
    height: 8rem;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header figure {
    margin: 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    font-weight: 600;
    margin-left: 1rem;
}

.hero {
    background-color: var(--negro-claro);
    height: calc(120vh + 8rem);
    padding: 4rem 8rem;
    padding-top: .1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-aside {
    width: 35%;
}

.hero figure {
    width: 65%;
}

.aside-texto {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: -1rem;
    left: 20rem;
}

.aside-texto h3 {
    font-size: 2.5rem;
    font-weight: 350;
}


.aside-texto h2 {
    font-size: 5rem;
    width: 274px;
    font-weight: 400;
    background-color: var(--negro-claro);
}

.aside-texto .aside-texto-play {
    width: 251px;
}

.contenedor-boton {
    margin-top: 4rem;
}

.contenedor-boton button {
    background-color: #ffc401;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-boton button img {
    width: 2rem;
    margin-right: 1rem;
}

.titulo-blanco-amarillo {
    padding: 4rem 0;
    font-weight: 300;
    font-size: 2.8rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.titulo-blanco-amarillo span {
    color: #ffc401;
}

.grid-recent {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.grid-recent figcaption {
    margin-top: .4rem;
    color: #fff;
    font-size: 1.4rem;
}

.recent-releases .contenedor-boton {
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.recent-releases button {
    margin: 0 auto;
}

.tour-schedule {
    background-color: var(--negro-claro);
}

.grid-schedule {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4rem;
}

.sch1 {
    width: 20rem;
    background-color: var(--gris-oscuro);
    padding: 1rem;
    color: #fff;
    text-align: center;
    font-weight: 300;
}

.sch2 {
    border: 1px solid var(--gris);
    display: flex;
    flex-direction: column;
}

.sch2 h5 {
    font-size: 3rem;
    font-weight: 300;
    padding: 4rem 0 1rem 0;
}

.sch2 h6 {
    font-size: 1.8rem;
    font-weight: 300;
    padding-bottom: 1rem;

}

.sch2 p {
    font-size: 16px;
    display: inline-block;
    background-color: var(--gris);
    padding: 0.3rem 0.2rem;
}

.sch2 button {
    font-size: 16px;
    padding: .8rem 1.4rem;
    margin: 0 auto 2.2rem auto;
}

.our-gallery {
    background-color: var(--gris);
    padding-bottom: 5rem;
}

.gallery-contenedor {
    max-width: 800px;
    margin: 0 auto;
}

.gallery-function {
    display: grid;
    justify-content: space-between;
    align-items: center;
}

.gallery-contenedor .titulo-blanco-amarillo {
    text-align: left;
}

.gallery-button-contenedor {
    position: absolute;
    transform: rotate(180deg);
    background-color: #3636399f;
    padding: 5rem 1rem;
    /*   justify-self: flex-end; */
}

.gallery-button-contenedor img {
    width: 16px;
}

.gallery-button-2 {
    background-color: var(--amarillo);
    transform: rotate(0deg);
    justify-self: flex-end;
}

.upcoming-events {
    background-color: #19191b;
    padding-bottom: 2rem;
}

.grid-upcoming {
    display: flex;
    flex-direction: column;
}

.grid-upcoming .upcoming-card {
    color: #fff;
    display: flex;
    align-items: center;
    /*     justify-content: space-evenly; */
    margin: 0 5rem;
    margin-bottom: 0;
    background-color: var(--gris-medio);
    margin-bottom: 2.8rem;
}

.upcoming-card figure {
    width: 77%;
}

.upcoming-card .contenedor-boton {
    margin: 0;
    padding: 3rem;
}

.upcoming-date {
    padding: 2rem;
    background-color: #ffc401;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
    line-height: .9;
}

.upcoming-details {
    padding: 0 0 0 2rem;
}

.upcoming-details-title h4 {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.upcoming-details-title h5 {
    line-height: .5;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.latest-albums {
    background-image: url(../img/albums.png);
    background-size: cover;
    padding-bottom: 3rem;
}

.contenedor-latest-albms {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3rem;
}

.latest-albums-card {
    background-color: #fff;
    color: #000;
    width: 201px;
    text-align: center;

}

.latest-albums-card p {
    padding: 1rem 2rem 0 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.latest-albums-card h6 {
    font-weight: bold;
    font-size: 2rem;
}

.latest-albums-card figure {
    width: 201px;
}

.latest-boton {
    margin: 0;
    padding: 1rem;
}

.latest-boton button {
    margin: 0 auto;
}

.botones-latest {
    width: 100%;
    display: flex;
    justify-content: center;
}

.botones-latest figure {
    padding: 0 2rem;
}

.botones-latest figure:first-child {
    transform: rotate(180deg);
}

.play-button {
    position: absolute;
    align-self: center;
    justify-self: center;
}

footer {
    background-color: #19191b;
    padding: 4rem 17rem;
}

.footer-contenido {
    display: flex;
}

footer .container h2 {
    color: var(--amarillo);
    font-size: 2rem;
    text-transform: uppercase;
    font-size: 2.6rem;
    padding: 1.8rem 0;
}


footer form input {
    border: none;
    background-color: var(--gris-medio);
    color: var(--gris);
    padding: .4rem .8rem;
    font-size: 1.6rem;
}

footer form button {
    border: 2px solid #ffc401;
    background-color: transparent;
    color: #ffc401;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 1rem;
}

.redes {
    margin-left: 2rem;
    display: flex;
    color: #fff;
    align-items: center;
}

.redes figure {
    width: 2rem;
}

.redes-cont {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    padding: .4rem;
    margin-right: 1rem;
}

.redes-cont figcaption {
    margin: 0 .4rem 0 .4rem;
}

footer p {
    color: rgb(139, 139, 139);
    text-align: right;
    font-weight: 500;
    margin-right: 14rem;
    margin-top: 1rem;
}

.activo {
    color: var(--amarillo);
}

.box-recent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-recent p {
    display: none;
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
}

.grid-recent .box-recent img:hover {
    z-index: 1;
    cursor: pointer;
    transition: .4s ease-in-out;
    -webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
    filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(1deg) saturate(500%) contrast(0.7)
}

.grid-recent .box-recent:hover>p {
    display: inline-block;
    z-index: 9999;
}

#boton-hover:hover {
    transition: .4s ease-in-out;
    background-color: var(--negro);
    color: #ffc401;
}



.sch1:hover {
    background-color: #fff;
    color: #000;
    transition: .4s ease-in-out;
}

.sch1:hover p {
    background-color: transparent;
}